body {
  background: #37474f;
}


.mainTitle {
  font-weight: bolder;
}

.button-box {
  display: inline-block;
  margin: 10px;
  border-radius: 8px;
}

.mainDiv {
  text-align: center;
}

.big-button-holder {
  text-align: center;
  display: inline-block;
}


.btn {
  font-size: 20px;
  background-color: #8470ff;
  width:100%;
  padding: 20px;
}
